#map {
    width: 100%;
    height: 80vh;
}

#tooltip {
    display: none;
    position: absolute;
    background: #666;
    color: white;
    opacity: 0.5;
    padding: 10px;
    border: 1px dashed #999;
    font-family: sans-serif;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    z-index: 1000;
}

#jsoneditor {
    width: 400px;
}